# MTConnect Agent Host & Port
# Used by src/setupProxy.js in development mode (npm start)
REACT_APP_MTCONNECT_HOST=localhost
REACT_APP_MTCONNECT_PORT=5000

# Polling interval for API calls (in milliseconds)
REACT_APP_API_POLLING_IN_MS=5000
